body {
    background-color: lightgray;
}

#main-heading {
    color: green;
    text-decoration: underline;
}

.intro-paragraph {
    font-weight: bold;
}

.another-paragraph {
    color: red;
}

.another-paragraph span {
    font-weight: bolder;
    color: purple;
}

[lang] {
    border: 1px solid black;
    padding: 5px;
    margin-bottom: 5px;
}

[lang="fr"] {
    background-color: lightcoral;
    color: white;
}

a[href^="https"] {
    font-weight: bold;
}